* {
  box-sizing: border-box;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.container > * {
  border: 2px solid black;
}
header,
footer {
  height: 100px;
  clear: both;
}

section {
  height: 400px;
}

.col-1-5 {
  width: 20%;
  float: left;
}

.col-2-5 {
  width: 40%;
  float: left;
}
